<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"  data-namespace-module-fluid="true">

<f:be.container>
    <div class="module-fullDoc">
        <div id="module-docheader">
            <div id="module-docheader-row1">
                <div class="buttonsleft">
                </div>

            </div>
            <div id="module-docheader-row2">
                <div class="docheader-row2-left">
                    <f:be.buttons.csh />
                    <f:be.menus.actionMenu>
                        <f:be.menus.actionMenuItem label="Action 1" controller="Backend" action="action1" />
                        <f:be.menus.actionMenuItem label="Action 2" controller="Backend" action="action2" />
                    </f:be.menus.actionMenu>
                </div>
                <div class="docheader-row2-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
        </div>
        <div id="module-body">
            <div id="module-inner-docbody">
                <f:render section="main" />
            </div>
        </div>
    </div>
</f:be.container>